<form action="/payment/results">
  <label for ="apr">APR </label>
  <input id= "apr" type="text" placeholder=" E.g 5.42" name="apr">
  <div>
   <label for ="noy"> Number of years</label>
   <input id= "noy" type="text" placeholder="How many years to repay" name="noy">
   
   </div>

   <div>
   <label for ="p">Principal</label>
   <input id="p" type="text" placeholder="How much principal?" name= "p">
  <div>
   <button>Calculate monthly payment</button>
  </div>
</form>
 