<h1>hi</h1>


<dl>
 <dt>Minimum</dt>
  <dd><%= @lower %></dd>
 <dt>Maximum</dt>
   <dd><%= @upper %></dd>
 <dt>random_number </dt>
    <dd><%= @result %></dd>
</dl>

<a href="/random/new">Pick another random number
