
<form action="/random/results">

<label for ="user_min">Minumum</label>
<input id="user_min" type="text" placeholder="Eg. 1.5" name="user_min">
<button> pick random number </button>
</form> 

<label for="user_max">Maximum</label>
<input id="user_max" type="text" placeholder="E.g 4.5" name="user_max">
</form>
