<h1>Calculate Square</h1>

<form action="/square/results">
  <label for ="dog">Enter a number </label>
  <input id= "dog" type="text" placeholder="What number do you want to square?" name="dog">

 <button>Calculate square</button>
</form>
