<div>
<form action="/square_root/results">
  <label for ="egg">Enter a number </label>
  <input id= "egg" type="text" placeholder="What number do you want to square root ?" name="egg">
 </div>
 <button> Calculate square root </button>
</form>
