<h1>Welcome to Calculator</h1>
<h2>calculate a square root</h2>


<form action="/square/results">
  <label for ="dog">Enter a number </label>
  <input id= "dog" type="text" placeholder="What number do you want to square?" name="dog">

 <button>Calculate square</button>
</form>
